.navbar {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 10px;
}
.navbar .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
  cursor: pointer;

}

.notification {
  position: relative;
}
.notification span {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.profile-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.profile-icon-image{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}