.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.footer .firstChild{
        font-weight: bold;
}
.footer .lastChild{
    font-size: 12px;
}
